.AddBtn-icon {
	box-sizing: border-box;
	background: linear-gradient(99.61deg, #e3823c 14.81%, #e33c3c 89.9%);
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.87);
	border-radius: 50%;
	height: 30px;
	width: 30px;
	padding: 0.5rem;
	position: absolute;
	right: 75px;
	bottom: 150px;
}
