@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


:root {
	--main-font-family: 'DM Sans', sans-serif;
}

.profilepage-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	background: var(--dark-blue-bgcolor);
	background: linear-gradient(
		351deg,
		var(--linear-black),
		var(--linear-orange)
	);
	color: var(--white-color);
}

.title-l {
	font-family: var(--main-font-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 23.44px;
	letter-spacing: 1.5%;
	padding-bottom: 4px;
}

.title-m {
	font-family: var(--main-font-family);
	font-weight: 700;
	line-height: 20.83px;
	letter-spacing: 1.5%;
}

.title-sm {
	font-family: var(--main-font-family);
	font-weight: 400;
	line-height: 13.02px;
	font-size: 10px;
	letter-spacing: 11%;
}

.card-user {
	display: flex;
	padding: 14px;
	height: 102px;
	width: 100%;	
}

.left {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	width: 100%;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background: white;
}

.inner-circle {
	height: 80%;
	width: 80%;
	border-radius: 50%;
	background: black;
}

.card-payment {
	display: flex;
	flex-direction: column;
	padding: 8px;
	height: auto;
	width: 100%;	
	gap: 12px;
}

.wrapper-icon {
	display: flex;
	height: auto;
	width: 80%;	
	gap: 12px;
}



