.header {
	text-align: center;
	/* Welcome */

	font-family: "Syne";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;

	/* identical to box height */

	letter-spacing: 0.015em;
	color: rgba(255, 255, 255, 0.87);
	margin-bottom: 1rem;
}
