/* Menu styling*/

#page-wrap {
	text-align: center;
	overflow: auto;
	top: 45%;
	position: relative;
}

.bm-item {
	display: inline-block;
	text-align: left;
	/* Our sidebar item styling */
	text-decoration: none;
	margin: 1.5rem;
	color: var(--orange-color-primary);
	font-weight: 400;
}
.bm-item img {
	margin-right: 1rem;
}

.bm-item:hover {
	font-weight: 700;
}

.bm-burger-button {
	position: fixed;
	width: 2rem;
	height: 1.75rem;
	left: 2rem;
	top: 2rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	/* background: #373a47; */
	background: var(--white-color);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
	background: var(--dark-blue-bgcolor);
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

/* end of Menu Styling */
