.cardFormContainer {
  box-sizing: border-box;

  /* position: absolute; */
  width: 340px;
  height: 395px;
  top: 500px;
  display: block;
  margin: 30px auto;
  margin-bottom: 100px;

  background: rgba(255, 255, 255, 0.3);
  background-blend-mode: overlay;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
}

.cardForm {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--padding-small);
}
.inputBlanket {
  /* position: absolute; */
  margin: 10px;
  width: 90%;
  height: 44px;
  background: rgba(25, 23, 61, 0.5);
  background-blend-mode: overlay;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.87);
}
.securityInfo {
  width: 95%;
  display: flex;
  flex-direction: row;
}
.nextBtn {
  width: 30%;
  height: 44px;
  background: linear-gradient(99.61deg, #e3823c 14.81%, #e33c3c 89.9%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.87);
}
.cardContainer {
  color: rgba(255, 255, 255, 0.87);
}

.swiperCardContainer {
  position: relative;
}
.cardContainer {
  position: absolute;
}
.cardNumber {
  z-index: 9999;
  position: absolute;
  width: 263px;
  height: 34px;
  left: 200px;
  top: -100px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  /* identical to box height */

  letter-spacing: 0.015em;

  color: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.cardHolderName {
  position: absolute;
  width: 149px;
  height: 21px;
  left: 33px;
  top: 189px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.015em;

  color: #ffffff;

  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.expirationDate {
  position: absolute;
  width: 47px;
  height: 21px;
  left: 157px;
  top: 161px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.015em;

  color: #ffffff;

  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.plus{
  margin-top: 20px;
}